<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>177276954083-boolg4gedjs92rvs6j6vhdplvgvdbr4k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.177276954083-boolg4gedjs92rvs6j6vhdplvgvdbr4k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>177276954083-4187nlklt6tesnc53idjp5u5pgl39q8c.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD-ROE-LV-chdHSuszySutl8qib17MC4I4</string>
	<key>GCM_SENDER_ID</key>
	<string>177276954083</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.xpert</string>
	<key>PROJECT_ID</key>
	<string>xpert-dummy-1</string>
	<key>STORAGE_BUCKET</key>
	<string>xpert-dummy-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:177276954083:ios:fd54a9d4583100fd3cecd6</string>
	<key>DATABASE_URL</key>
	<string>https://xpert-dummy-1.firebaseio.com</string>
</dict>
</plist>